{% extends 'page-components/base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Data</title>
  </head>
  {% include 'page-components/navbar.html' %}
  <body>
    <h1 class="text-center">DER Data</h1>

    {% if user.is_authenticated == False %}
      <p class="text-center">To view DER data, please <a href="{% url 'main:login' %}">login</a> or <a href="{% url 'main:register' %}">register</a> for an account.</p> 
    {% endif %}
    {% include 'page-components/footer.html' %}
  </body>
{% endblock %}