@import "index/control.css";
html {
    height: 100%;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
#content {
    padding-bottom:60px;
}
#container {
    min-height:100%;
    position: relative;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}