{% extends 'base.html' %}
{% load static %}

{% block index %}
  <head>
    <title>DER Home</title>
  </head>

  {% include 'navbar.html' %}
  <body>
    <header
      class="page-header header container-fluid"
      style="background-image: url({% static 'images/banner.jpg' %});"
    >
      <div class="overlay"></div>
      <div class="description col-xl-8 col-lg-6 col-md-6 col-sm-10 col-10">
        <img class="image-fluid" width="350" src="{% static 'images/DER_small_logo.png' %}"">
        <h1>Welcome to DER8.9</h1>
        <p>
          Part of JakaaGen Inc.
        </p>
      </div>
    </header>
    {% include 'summary.html' %}
  </body>
  {% include 'footer.html' %}
{% endblock %}