{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-4" href="{% url 'main:index' %}">
      <img class="image-fluid px-1" src="{% static 'images/favicon_io/favicon-32x32.png' %}"">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item mx-3">
            <p class="nav-link">Welcome, {{user.username}}</p>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="{% url 'main:data' %}">DER Data</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item active mx-3">
            <a class="nav-link" href="{% url 'main:about' %}">About Us</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="{% url 'main:login' %}">Login</a>
          </li>
        {% endif %}
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'main:contact' %}">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>
  <style>
    .nav-item {
      font-size: 25px;
    }
  </style>
{% endblock %}