{% extends 'base.html' %}
{% load static %}

{% block content %}
  <head>
    <title>Contact Submissions</title>
  </head>
  {% include 'navbar.html' %}
  {% include 'messages.html' %}
  <body>
    <h1 class="text-center">Contact Submissions</h1>
    <table class="table table-bordered table-hover table-sm w-75 mx-auto">
      <thead class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
      </thead>
      <tbody>
        {% for submission in submissions %}
          <tr>
            <th scope="row">{{ submission.username }}</td>
            <td>{{ submission.email }}</td>
            <td>{{ submission.subject }}</td>
            <td>{{ submission.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'footer.html' %}
  </body>
{% endblock %}
