{% extends 'base.html' %}
{% load static %}

{% block data %}
  <head>
    <title>Contact Submissions</title>
  </head>
  {% include 'navbar.html' %}
  <body>
    <h1>Registered Users</h1>
    <table border='1'>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Staff Member</th>
        <th>Superuser</th>
        <th>Last Login</th>
        <th>Date Joined</th>
      </tr>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name}}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.is_staff }}</td>
          <td>{{ user.is_superuser }}</td>
          <td>{{ user.last_login }}</td>
          <td>{{ user.date_joined }}</td>
        </tr>
      {% endfor %}
    </table>
    {% include 'footer.html' %}
  </body>
{% endblock %}
